-r requirements.txt

idna

black
flake8
mypy
bandit
isort
safety
aiohttp
pylint
pytest-aiohttp
pytest
pytest-asyncio
pytest-cov
coverage
Sphinx
sphinx-rtd-theme
pip
wheel
tox
async-generator
async_timeout
