# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  USING_POETRY_VERSION: ">=1.1.0"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install poetry${USING_POETRY_VERSION}
        poetry install -E fastapi -E oracle -E postgres -E rabbitmq -E s3 -E sftp -E dbtm -E testing -v
    - name: Spin up environment
      run: poetry run docker-compose -f tests/docker-compose.yml up -d
    - name: Run tests
      run: poetry run pytest -v -s tests
    - name: Tear down environment
      run: poetry run docker-compose -f tests/docker-compose.yml kill

  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install poetry${USING_POETRY_VERSION}
        poetry install -E testing -v
    - run: poetry check
    - run: poetry run black examples ipapp tests --check
    - run: poetry run safety check
    - run: poetry run mypy ipapp examples --ignore-missing-imports --sqlite-cache
    - run: poetry run flake8 ipapp examples tests
    - run: poetry run bandit -x ipapp/logic/db -r ipapp examples

  publish:
    runs-on: ubuntu-latest
    needs: [test, lint]

    steps:
    - uses: actions/checkout@v2
    - name: Set up latest stable Python
      uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install poetry${USING_POETRY_VERSION}
        poetry install --no-dev -v
    - name: Build package
      run: |
        poetry version $(git describe --tags)
        poetry build
    - uses: actions/upload-artifact@v2
      with:
        name: dist
        path: dist
    - name: Publish to PyPI
      if: startsWith(github.ref, 'refs/tags/')
      env:
        POETRY_PYPI_TOKEN_PYPI: ${{ secrets.POETRY_PYPI_TOKEN_PYPI }}
      run: poetry publish -v
